.menu_layout {
  .ant-layout-sider {
    $background: #ffffff !global;
    background-color: $background;
  }
  .ant-layout-sider-trigger {
    background-color: #1890ff;
  }
  .content_layout {
    margin: 0 24px;
    .ant-layout-header {
      background-color: rgb(212, 214, 216);
      padding: 0 24px;
    }
    .ant-layout-content {
      // $content: yellowgreen !global;
      // background-color: $content;
    }
    .features_btn {
      position: relative;
      .header_button {
        width: 90px;
        height: 36px;
        margin-left: 12px;
      }
      .header_button_new {
        width: 120px;
        height: 36px;
        margin-left: 12px;
      }
      .header_button_back {
        width: 90px;
        height: 36px;
        position: absolute;
        right: 24px;
        top: 12px
      }
      :first-child {
        margin-left: 0;
      }
    }
  }
}
