.list_table {
    .ant-table {
        padding: 0 12px;
    }
}

.list_bread {
    padding: 12px 0;
}

.list_operating {
    padding: 0 12px;
    color: #1890ff;
    cursor: pointer;
}

.list_operating_parting {
    color: #b9b8b8;
}